  <mat-accordion>
      <!-- <ng4-loading-spinner [timeout]="100000"> </ng4-loading-spinner> --> 

    <mat-expansion-panel (click)="loadClient(usuario)">
        <!-- <ng4-loading-spinner [timeout]="100000"> </ng4-loading-spinner>  -->

      <mat-expansion-panel-header>
        <mat-panel-title>
         Usuário: {{usuario?.nome}}
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section class="img">
      <div class="circle">
      <img *ngIf="usuario.foto" [src]="usuario.foto" width="200" height="200"/>
      <img *ngIf="!usuario.foto" src="../../assets/imgs/user-1633249_1280.png" width="200" height="200"/>
    </div>
  </section>
  <section class="img">
   
    <p>{{usuario?.nome}}</p>
    <p>{{usuario?.email}}</p>
</section>


<mat-action-row>

  <button mat-button> 
    Adicionar cliente</button>

</mat-action-row>
      <app-clientes *ngFor="let c of clientes" [cliente]="c" (add)="getEvent($event)"></app-clientes> 
    </mat-expansion-panel>

   
  </mat-accordion>


