mat-grid-list{
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 5px; 
    margin-top: 30px;
}

mat-grid-tile{
    border: 1px solid #ccc;
    cursor: pointer;
}

.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    padding-left: 0px !important;
  }
  
  .circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
    }

    .img{
        width: 33%;
        float: left;
        padding-bottom: 20px;
    }

    mat-expansion-panel.mat-expansion-panel.ng-tns-c5-2.ng-star-inserted{
        width: 100%;
    }

    mat-accordion{
        max-width: 1024px;
    }

    mat-expansion-panel{
        max-width: 1024px;
        margin: 0 auto;
    }
    div#div{
        margin-top: 30px;
    }
