mat-card{
    
    max-width: 1024px;
    margin: 0 auto;
}

mat-card form {
    padding-left: 20px;
}
mat-card button{
 padding-left: 90%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }